<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

<div id="<%= dom_id device %>">
  <p>
    <strong>Manufacturer:</strong>
    <%= device.manufacturer.name %>
  </p>

</div>

<div id="<%= dom_id device %>">
  <p>
    <strong>Category:</strong>
    <%= device.category.name %>
  </p>
